@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
/* Base */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  padding: 0 24px;
  max-width: 1288px;
  margin: 0 auto;
}
.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  padding: 16px 24px;
}

.button:hover {
  background: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}

.link {
  color: var(--color-primary-light);
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
  /* font-weight: 600; */
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}
/* Header */
header {
  background-color: lightgray; /*delete after*/
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  gap: 64px;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  background-image: url('/images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.accent {
  color: var(--color-brand-normal);
}
/* Advantages section */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-primary-light);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* Traditions */

.traditions-sections {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text-limited {
  max-width: 335px;
}
.traditions-content {
  max-width: 710px;
}

/* chefs */
.chef-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.chefs-title {
  margin-bottom: 80px;
  max-width: 540px;
  margin: 0 auto 80px;
}
.chefs-title::before,
.chefs-title::after {
  display: block;
  border: 2px solid var(--color-brand-light);
  content: '';
}
.chef-img {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/* formats */

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  border-radius: 16px;
  height: 444px;
  border: 1px solid lightgray;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}

.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text p {
  font-weight: 300;
  font-size: 14px;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: var(--color-primary-dark);
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* contacts */
.contacts-title {
  margin-bottom: 16px;
}

/* Address link */
address {
  font-style: normal;
}
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}

/* Footer */
.footer {
  background: url(/images/footer-background.png) var(--color-primary-dark)
    no-repeat center;
  background-size: cover;
}

.copy-right-paraghraph {
  margin: 0;
}

.test-box {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px;
  background-image: radial-gradient(gold 50%, green 50%, blue);
}
