@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-brand-light: #819b57;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
  --color-brand-dark: #465929;
}

body {
  color: var(--primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
/* Base */
ul {
  list-style: none;
}
.button {
  color: var(--primary-light);
  font-weight: 600;
  background: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
}

.button:hover {
  background: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}

.link {
  color: var(--primary-light);
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.hero-title {
  color: var(--primary-light);
  text-align: center;
  text-transform: uppercase;
  font-size: 128px;
  font-weight: 900;
}

.accent {
  color: var(--color-brand-light);
}

.advantages-list {
  color: var(--primary-light);
  background-color: var(--color-brand-light);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .accent {
  color: var(--color-brand-dark);
}

.traditions-text .brand {
  color: var(--color-brand-light);
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* chefs */
.chef-title {
  font-weight: 600;
  font-size: 40px;
}

/* formats */
address {
  font-style: normal;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text p {
  font-weight: 300;
  font-size: 14px;
}

/* Address link */
.address-link {
  color: var(--primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}
