@import './utils/fonts';
@import './utils/variables';
@import './utils/utils';
@import './utils/mixin';

@import './base';

@import './components/buttons';
@import './components/header';
@import './components/hero-section';
@import './components/link';

/* Advantages section */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-primary-light);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* Traditions */

.traditions-sections {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text-limited {
  max-width: 335px;
}
.traditions-content {
  max-width: 710px;
}

/* chefs */
.chef-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.chefs-title {
  margin-bottom: 80px;
  margin: 0 auto 80px;
  position: relative;
}
.chefs-title::before,
.chefs-title::after {
  width: 352px;
  display: block;
  border: 2px solid var(--color-brand-light);
  content: '';
  position: absolute;
  bottom: 24px;
}
.chefs-title::before {
  left: 0;
}
.chefs-title::after {
  right: 0;
}
.chef-img {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}
.chef-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}
.chef-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
  display: flex;
  gap: 30px;
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 0;
}
/* formats */

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 16px;
  height: 444px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  transition: 0.5s;
}
.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.format-card:hover {
  transform: scale(1.05);
}

.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text p {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-light);
  margin: 0;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: var(--color-primary-dark);
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
}
.carousel-button.next {
  transform: rotate(180deg);
}
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* contacts */
.contact-section {
  margin-bottom: 96px;
}
.contacts-title {
  margin-bottom: 16px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}

/* Address link */
address {
  font-style: normal;
}
.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}

/* Footer */
.footer {
  position: relative;
  background: url(/images/footer-background.png) var(--color-primary-dark)
    no-repeat center;
  background-size: cover;
  padding: 32px 0;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.copy-right-paraghraph {
  margin: 0;
}
.address-info,
.address-list,
.footer-logo,
.footer-menu {
  flex-grow: 1;
}
.footer::before,
.footer::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  bottom: 0;
}
.footer::before {
  background-image: url(/images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}
.footer::after {
  background-image: url(/images/decor-bread-large.png);

  width: 380px;
  height: 180px;
  right: 0;
}

/* Modal */
.backdrop {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* Form */
/* .form-label {
  position: absolute;
  top: 16px;
  left: 42px;
  color: var(--color-secondary-dark);
} */

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-secondary-dark);
  color: var(--color-primary-dark);
  border-radius: 16px;
  font-style: 16px;
  line-height: 1.17;
  background-color: transparent;
}
.form-field {
  position: relative;
  margin-bottom: 32px;
}
.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-style: 16px;
  line-height: 1.17;
}
.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}
.form-button {
  display: block;
  margin: 0 auto 24px;
}
.form-terms {
  font-style: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}
.form-terms a {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
.form-title {
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 8px;
}
.form-subtitle {
  text-align: center;
  color: var(--color-brand-dark);
  margin-bottom: 72px;
}
.checkbox {
  position: relative;
}
.form-label {
  padding: 24px;
}
.form-label::before {
  border-radius: 2px;
  top: 0;
  left: 0;
  margin-top: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  content: '';
  border: 1px solid var(--color-primary-dark);
}
.form-checkbox:checked + .form-label::before {
  background-color: var(--color-brand-normal);
}
