:root {
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
