.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: var(--color-primary-light);
  }
  &__item {
    font-size: 20px;
    font-weight: 300;
  }
}
