.advantages-section {
  padding: 40px 0 20px 0;
  @media screen and (min-width: $bp-tablet) {
    background-color: var(--color-brand-normal);
    padding: 16px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-brand-light);
    padding: 24px 40px;
    border-radius: 24px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      color: var(--color-primary-light);
      background-color: transparent;
      padding: 0;
    }
  }
  &__item {
    font-size: 14px;
    font-weight: 300;
    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }
  }
}
