.contact-section {
  margin-bottom: 96px;

  &__title {
    margin-bottom: 16px;
  }
  &__container {
    display: flex;
    gap: 32px;
  }
  &__map {
    flex-shrink: 0;
    border-radius: 16px;
  }
  &__form-field {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 42px;
    color: var(--color-brand-dark);
  }
  &__button {
    display: block;
    margin: 0 auto 24px;
  }
}
