.footer {
  position: relative;
  background: url(/images/footer-background.png) var(--color-primary-dark)
    no-repeat center;
  background-size: cover;
  padding: 32px 0;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.copy-right-paraghraph {
  margin: 0;
}
.address-info,
.address-list,
.footer-logo,
.footer-menu {
  flex-grow: 1;
}
.footer::before,
.footer::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  bottom: 0;
}
.footer::before {
  background-image: url(/images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}
.footer::after {
  background-image: url(/images/decor-bread-large.png);

  width: 380px;
  height: 180px;
  right: 0;
}
