.footer {
  position: relative;
  background: url('./../../images/footer-background.png')
    var(--color-primary-dark) no-repeat center;
  background-size: cover;
  padding: 32px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }
  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
    align-content: center;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }
  &__address-link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    flex-basis: 50%;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }
  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__address-copyright {
    font-size: 14px;
  }
  &__address-info,
  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 50%;
  }

  &__logo,
  &__menu {
    flex-basis: 50%;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__social {
    display: flex;
    gap: 24px;
    justify-content: center;
    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }
  &::before,
  &::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    bottom: 0;
  }
  &::before {
    background-image: url('../../images/decor-bread-small.png');
    width: 180px;
    height: 120px;
    left: 0;
  }
  &::after {
    background-image: url('../..//images/decor-bread-large.png');

    width: 380px;
    height: 180px;
    right: 0;
  }
}

.copy-right-paraghraph {
  margin: 0;
}
