.form-terms {
  font-style: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  a {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}

.form-title {
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 8px;
}
.form-subtitle {
  text-align: center;
  color: var(--color-brand-dark);
  margin-bottom: 72px;
}
.checkbox {
  position: relative;
}
