.input {
  position: relative;
  &__control {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-secondary-dark);
    color: var(--color-primary-dark);
    border-radius: 16px;
    font-style: 16px;
    line-height: 1.17;
    background-color: transparent;
    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }
    &::placeholder {
      color: var(--color-secondary-dark);
      font-style: 16px;
      line-height: 1.17;
    }
    :focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
  &__label {
    padding: 24px;
  }
}
.form-terms {
  font-style: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  a {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}

.form-title {
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 8px;
}
.form-subtitle {
  text-align: center;
  color: var(--color-brand-dark);
  margin-bottom: 72px;
}
.checkbox {
  position: relative;
}
// .form-label::before {
//   border-radius: 2px;
//   top: 0;
//   left: 0;
//   margin-top: 5px;
//   width: 16px;
//   height: 16px;
//   position: absolute;
//   content: '';
//   border: 1px solid var(--color-primary-dark);
// }
// .form-checkbox:checked + .form-label::before {
//   background-color: var(--color-brand-normal);
// }
