.hero-section {
  padding: 272px 0;
  background: linear-gradient(
      127deg,
      rgba(18, 18, 17, 0.78) 0%,
      rgba(18, 18, 17, 0.6) 63.89%,
      rgba(18, 18, 17, 0) 100%
    ),
    url('/images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  &__title {
    color: var(--color-primary-light);
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
  }
}
