.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }
  &__title {
    font-size: 32px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 54px;
      font-weight: 900;
      line-height: 1.3;
      &--centered {
        text-align: center;
      }
    }
  }
}
