address {
  font-style: normal;
}
.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}
