.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  padding: 16px 24px;
}

.button:hover {
  background: transparent;
  color: var(--color-brand-dark);
  border-color: currentColor;
  cursor: pointer;
}
.button:disabled {
  background-color: lightgray;
  color: gray;
}
