.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: var(--color-primary-dark);
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
}
.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}
