.chef-card {
  display: flex;
  gap: 30px;

  &__title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 16px;
  }

  &__img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark);
  }

  &__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
