.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media screen and (min-width: $bp-tablet) {
    gap: 30px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }
  &__img {
    width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark);
    @media screen and (min-width: $bp-desktop) {
      width: 240px;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
  }
}
