.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 16px;
  height: 444px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  transition: 0.5s;

  &:hover {
    transform: scale(1.05);
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
  }
  &__text p {
    font-weight: 300;
    font-size: 14px;
    color: var(--color-primary-light);
    margin: 0;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
